
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
.titulo{
	margin: 16px 0;
    color: #656565;
    padding-left: 8%;
    font-size: 30px;
	border-bottom: 2px solid #1E90FF;
	font-family: "Gravity-Light";
	font-weight: bold;
}
#corpo{
	width: 100%;
}
#conteudo{
	height: 675px;
}
#topo,#conteudo,#rodape{
	width: 80%;
	margin: 0 auto;
}
.line{
	width: 100%;
	height: 25px;
	margin-bottom: 4px;
}
.grid{
	float: left;
	height: 100%;
}
.col1{
	width: 8.3333333333333333%;
}
.col2{
	width: 16.666666666666667%;
}
.col3{
	width: 25%;
}
.col4{
	width: 33.333333333333333%;
}
.col5{
	width: 41.666666666666667%;
}
.col6{
	width: 50%;
}
.col7{
	width: 58.333333333333333%;
}
.col8{
	width: 66.666666666666666%;
}
.col9{
	width: 75%;
}
.col10{
	width: 83.333333333333333%;
}
.col11{
	width: 91.666666666666666%;
}
.col12{
	width: 91.666666666666666%;
}
.align-center{
	text-align: center;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
input.grid:hover,select.grid:hover{
	border-color: #1E90FF;
}
input.grid:focus,select.grid:focus{
	border-color: #1E90FF;
	box-shadow: 0 0 1px #1E90FF;
}
label.grid{
	text-align: right;
	display: inline-block;
	font-size: 14px;
	padding: 2px 2px;
	font-family: "Roboto-Light";
}
input.grid,select.grid{
	padding-left: 3px;
	border-radius: 1px;
	font-size: 16px;
    border: 1px solid #9C9C9C;
    max-width: 100%;
    max-height: 26px;
    background-color: white;
    transition: all 0.2s ease;
    transition-property: box-shadow, border, color, background-color;
    font-family: "Calibri Light";
}
.radio-option{
	position: relative;
	display: inline-block;
}
.radio-option > label{
	padding: 0 3px;
	display: inline-block;
	font-size: 14px;
	font-family: "Roboto-Light";
}
.radio{
		padding-top: 3px;
		position: relative;
}

input[type=radio]{
	margin: 3px 0 0 1px;
}
input[type=radio].css-checkbox {
	position:relative; 
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;

}

input[type=radio].css-checkbox + label.css-label {
	padding-left:21px;
	height:16px; 
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -16px;
}
label.css-label {
	background-image:url(../images/csscheckbox.png);
/*	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
}


@media screen and (max-width:920px){
	.grid{
		display: block;
	}
	.radio-option{
		position: relative;
		display: inline-block;
	}
	.radio,input.grid,select.grid{
		width: 100%;
	}
	label.grid{
		width: 100%;
		text-align: left;
	}
}
@media screen and (max-width: 360px){
	.titulo{
    font-size: 27px;
    padding-left: 0;
    text-align: center;
	}
	html,body{
		max-width: 360px;
	}
}