
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.titulo{
	text-align: left;
	border-bottom: 1px solid black;
}
#corpo{
	width: 100%;
}
#conteudo{
	height: 675px;
}
#topo,#conteudo,#rodape{
	width: 80%;
	margin: 0 auto;
}
.line{
	width: 100%;
	height: 25px;
	margin-bottom: 4px;
}
.grid{
	float: left;
	height: 100%;
}
.col1{
	width: 8.3333333333333333%;
}
.col2{
	width: 16.666666666666667%;
}
.col3{
	width: 25%;
}
.col4{
	width: 33.333333333333333%;
}
.col5{
	width: 41.666666666666667%;
}
.col6{
	width: 50%;
}
.col7{
	width: 58.333333333333333%;
}
.col8{
	width: 66.666666666666666%;
}
.col9{
	width: 75%;
}
.col10{
	width: 83.333333333333333%;
}
.col11{
	width: 91.666666666666666%;
}
.col12{
	width: 91.666666666666666%;
}
.align-center{
	text-align: center;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
input.grid:hover,select.grid:hover{
	border-color: #1E90FF;
}
input.grid:focus,select.grid:focus{
	border-color: #1E90FF;
	box-shadow: 0 0 1px #1E90FF;
}
label.grid{
	text-align: right;
	display: inline-block;
	font-size: 16px;
	padding: 2px 2px;
	font-family: "Calibri Light";
}
input.grid,select.grid{
	border-radius: 1px;
	font-size: 16px;
    border: 1px solid #9C9C9C;
    max-width: 100%;
    max-height: 26px;
    background-color: white;
    transition: all 0.2s ease;
    transition-property: box-shadow, border, color, background-color;
    font-family: "Calibri Light";
}
.radio-option{
	position: relative;
	display: inline-block;
}
.radio-option > label{
	padding: 0 3px;
	display: inline-block;
	font-size: 16px;
	font-family: "Calibri Light";
}
.radio{
		padding-top: 3px;
		position: relative;
}
input[type=radio]{
	float: left;
	margin: 3px 0 0 1px;
}
@media screen and (max-width:920px){
	.grid{
		display: block;
	}
	.radio-option{
		position: relative;
		display: inline-block;
	}
	.radio,input.grid,select.grid{
		width: 100%;
	}
	label.grid{
		width: 100%;
		text-align: left;
	}
}