<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lista Telefonica</title>

	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<style>
		.jumbotron {
			margin-top: 20px;
			width: 600px;
			margin: 0 auto;
		}
		th{
			text-align: center;
		}
		.form-control{
			margin-bottom: 5px;
		}
	</style>

	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

	<script type="text/javascript">
	angular.module('listaTelefonica',[]);
	angular.module('listaTelefonica').controller('listaTelefonicaCtrl',function($scope){
		$scope.app = 'Lista Telefonica';
		$scope.contatos = [
			{nome: 'Pedro Augusto da Silva', telefone: '99998888'},
			{nome: 'João Pedro dos Santos', telefone: '99998899'},
			{nome: 'Maria Aparecida da Cunha', telefone: '99996666'}
		];

		$scope.operadoras = [
			{nome: 'Oi', codigo: 14, categoria: 'Celular', cor: 'orange'},
			{nome: 'Vivo', codigo: 15, categoria: 'Celular', cor: 'lightblue'},
			{nome: 'Tim', codigo: 41, categoria: 'Celular', cor: 'blue'},
			{nome: 'GVT', codigo: 25, categoria: 'Fixo', cor: 'red'},
			{nome: 'Embratel', codigo: 21, categoria: 'Fixo', cor: 'green'}
		]
		$scope.addContato = function(contato){
			$scope.contatos.push(angular.copy(contato));
			delete $scope.contato;
		}
		$scope.apagarContatos = function(contatos){
			$scope.contatos = contatos.filter(function(contato){
				if(!contato.selecionado) return contato;
			});
				console.log(contatos);
		}
		$scope.isContatoSelecionado = function(contatos){
			return contatos.some(function(contato){
				return contato.selecionado;
			});
			console.log(isContatoSelecionado);
		}
		$scope.classe1 = "selecionado";
		$scope.classe2 = "negrito";
	});

	</script>
	<style>
		td > button.btn{
			padding: 0;
			text-align: left;
			border-style: none;
			background-color: transparent !important;
			outline: none;
		}
		td > button.btn:visited,td > button.btn:active{
			border-style: none;
			border: none;
			background-color: transparent !important;
		}
		.selecionado{
			background-color: rgb(36, 187, 232);
			transition: color 0.5s linear;

		}
		.negrito{
			font-weight: bold;
		}
		td .btn i[class*='times']{
			color: red;
		}
		td .btn i[class*='pencil']{
			color: #014190;
		}
		td .btn:hover{
			background-color: transparent !important;
		}
	</style>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron text-center">
		<h4>{{app}}</h4>
		<table class="table table-bordered" style="margin-top: 20px;">
			<thead>
				<tr>
					<th style="width: 25px;"></th>
					<th>Nome</th> 
					<th style="width: 100px;">Telefone</th>
					<th style="width: 100px;">Operadora</th>
					<th style="width: 100px;">Categoria</th>
					<th style="width: 50px;"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="contato in contatos" ng-class="{'selecionado negrito': contato.selecionado}">
					<td><input type="checkbox" ng-model="contato.selecionado"></td>
					<td class="text-left">{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
					<td ng-style="{'color': contato.operadora.cor}">{{contato.operadora.nome}}</td>
					<td>{{contato.operadora.categoria}}</td>
					<td>
						<!-- <a href="#">
							<i class="fa fa-pencil-square"></i>
						</a>
						<a href="#">
							<i class="fa fa-times-circle"></i>
						</a> -->
						<button type="button" class="btn btn-default">
							<i class="fa fa-pencil"></i>
						</button>
						<button type="button" class="btn btn-default">
							<i class="fa fa-times"></i>
						</button>
					</td>			
				</tr>
			</tbody>
		</table>
		</hr>
		<form name="contatoForm">
			É Válido: {{contatoForm.$valid}}<br/>
			É Inválido: {{contatoForm.$invalid}}<br/>
			<input type="text" class="form-control" id="txtNome" name="nome" ng-model="contato.nome" ng-required="true" placeholder="Nome..."/>	
			<input type="text" class="form-control" id="txtFone" name="fone" ng-model="contato.telefone" ng-required="true" placeholder="Telefone..."/>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
				<option value="">Selecione um Operadora...</option>
			</form>
		</select>
		<button type="button" class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid" ng-click="addContato(contato)">Adicionar</button>
		<div ng-show="contatoForm.nome.$invalid" class="alert alert-danger">Preencha o campo, Nome.</div>
		<div ng-show="contatoForm.fone.$invalid" class="alert alert-danger">Preencha o campo, Telefone.</div>
	</div>
</body>
</html>